@use "@/styles/defined";

.checkout {
    .header {
        @extend %flex-center;

        margin-bottom: 1rem;
        &Title {
            @extend %flex-center;

            width: 100%;
            font-size: var(--fs-32);
        }
    }

    .body {
        .flex-wrapper {
            @extend %flex-center;
            justify-content: stretch;
            gap: 50px;

            .Delivery {
                @extend %mb-10;
                flex: 1;
                &Badge {
                    @extend %flex-center;
                    @extend %mt-10;
                    border-radius: 1%;
                    background-color: var(--badge);
                    width: fit-content;
                    color: var(--black);
                    padding: 1%;
                    // max-width: 30%;
                    cursor: pointer;
                }
                &Phone,
                .PromoCode {
                    @extend %mt-10;
                    // width: 30%;
                }
                .PromoCode {
                    .applyButton {
                        font-size: var(--fs-14);
                        background-color: transparent;
                        color: var(--black);
                    }
                }
            }
        }

        .OrderSummary {
            flex: 1;
            align-items: baseline;

            background-color: var(--alpha-primary);
            padding: 2%;
            border-radius: 2%;

            &Item {
                &:nth-of-type(1) {
                    margin-top: 5px;
                }

                @extend %flex-center;
                justify-content: space-between;
                margin-bottom: 1rem;

                .paymentButton {
                    width: 40%;
                }
            }
        }

        .OrderDetails {
            @extend %mt-10;

            .OrderItem {
                @extend %flex-center;
                justify-content: flex-start;
                gap: 50px;
                margin-bottom: 1rem;

                &Image {
                    width: 90px;
                    min-width: 90px;
                    height: 90px;
                    object-fit: contain;
                    border-radius: 2%;
                    padding: 5px;
                    background-color: var(--white);
                }
                &Details {
                    max-width: 75%;
                }
                &Actions {
                    margin-left: auto;
                    .ActionButton {
                        background-color: transparent;
                        color: var(--primary);
                        padding: 0;
                        width: 30px;
                    }
                }
            }
        }
        .OrderSummary {
            .OrderSummaryTitle {
                font-size: var(--fs-22);
            }
            .OrderSummaryItem {
                @extend %flex-center;
                justify-content: space-between;
                margin-bottom: 1rem;
            }
            .OrderSummaryTotal {
                @extend %flex-center;
                justify-content: space-between;
                margin-top: 1rem;
                font-size: var(--fs-26);
            }
        }
        .OrderButton {
            @extend %flex-center;
            justify-content: space-between;
            margin-top: 1rem;
            .button {
                width: 48%;
            }
        }
    }
    .view-910 {
        display: none;
    }
}

h2 {
    font-size: var(--fs-22);
}

@media only screen and (max-width: 930px) {
    .OrderSummary {
        display: none;
    }

    .view-910 {
        display: block !important;
        padding: 5% !important;
    }

    .OrderItem {
        gap: 15px !important;
        &Details {
            font-size: var(--fs-14) !important;
        }
    }
}

@media (max-width: 600) {
    .OrderItemDetails {
        font-size: var(--fs-12);
    }
}
