@use "@/styles/defined";

.payment {
    .header {
        @extend %flex-center;

        margin-bottom: 1rem;
        &Button {
            background-color: transparent !important;
            color: var(--foreground);
        }
        &Title {
            @extend %flex-center;

            width: 100%;
            font-size: var(--fs-32);
        }
    }

    .body {
        @extend %flex-center;
        gap: 20px;
        .methods {
            // border: 1px solid var(--primary);
            border-radius: 5px;
            flex: 1;
            min-height: 200px;
            margin-bottom: auto;
            .cardDetails {
                @extend %flex-center;
                margin-top: 5px;
                gap: 10px;
                justify-content: space-between;
                input {
                    width: 30%;
                }
            }
        }
        .summary {
            flex: 1;
            min-height: 200px;
            display: flex;
            margin-bottom: auto;
            flex-direction: column;
            background-color: var(--alpha-primary);
            padding: 2%;
            border-radius: 2%;

            &Item {
                @extend %flex-center;
                justify-content: space-between;
                margin-top: 1rem;
            }
            .paymentButton {
                margin-top: 50px;
                width: 100%;
            }
        }
    }
    .view-910 {
        display: none;
    }
}

@media (max-width: 910px) {
    .payment {
        .body {
            flex-direction: column;
            .methods {
                margin-bottom: 20px;
            }
            .view-910 {
                display: block;
            }
            .summary,
            .methods {
                width: 70%;
            }
            .summary {
                padding: 5%;
            }
        }
    }
}

@media (max-width: 768px) {
    .payment {
        .body {
            .summary,
            .methods {
                width: 90%;
            }
        }
    }
}
