/*
-----------------------------------------------------------------
FONT SIZE CLASSES & VARIABLES
-----------------------------------------------------------------
*/
:root {
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}
$weights: 400, 600, 700;
@each $weight in $weights {
    .fw-#{$weight} {
        font-weight: var(--fw-#{$weight});
    }
}

/*
-----------------------------------------------------------------
FONT WEIGHTS CLASSES & VARIABLES
-----------------------------------------------------------------
*/
:root {
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-22: 1.375rem;
    --fs-26: 1.625rem;
    --fs-32: 2rem;
    --fs-48: 3rem;
}
$sizes: 16, 22, 26, 32, 48;
@each $size in $sizes {
    .fs-#{$size} {
        font-size: var(--fs-#{$size});
    }
}
